<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:fragment="form (uri, author)" id="edit-form" th:action="${uri}" th:method="post" action="edit.html">
    <h1>Book Info:</h1>
    <input type="hidden" th:value="${author.id}" value="1" readonly="readonly" name="id">
    <div class="mb-3">
        <label for="authorLastName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="authorFirstName" aria-describedby="firstNameHelp" th:value="${author.firstName}" value="John" name="firstName">
        <div id="firstNameHelp" class="form-text">Just enter book name here.</div>
    </div>
    <div class="mb-3">
        <label for="authorLastName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="authorLastName" aria-describedby="lastNameHelp" th:value="${author.lastName}" value="Doe" name="lastName">
        <div id="lastNameHelp" class="form-text">Just enter book name here.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>