<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head.html}"></th:block>

    <title th:text="${author.firstName + ' ' + author.firstName}">Author</title>
</head>
<body>
<div class="container">

    <th:block th:insert="~{fragments/navigation.html :: tabs ('books')}"></th:block>
    <th:block th:insert="~{fragments/navigation.html :: breadcrumb (${breadcrumbs})}"></th:block>

    <th:block th:insert="~{authors/authorForm.html :: form (@{/authors/{id}(id=${author.id})}, ${author})}"></th:block>

</div>

<th:block th:insert="~{fragments/bottomJs.html}"></th:block>

</body>
</html>
