<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head.html}"></th:block>

    <title>Book:</title>
</head>
<body>
<div class="container">

    <form id="edit-form" th:action="@{/books/{id}(id=${book.id})}" th:method="post" action="edit.html">
        <h1>Book Info:</h1>
        <input type="hidden" th:value="${book.id}" value="1" readonly="readonly" name="id">
        <div class="mb-3">
            <label for="bookName" class="form-label">Book Name</label>
            <input type="text" class="form-control" id="bookName" aria-describedby="bookNameHelp" th:value="${book.name}" value="Pride and Prejustice" name="name">
            <div id="bookNameHelp" class="form-text">Just enter book name here.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<th:block th:insert="~{fragments/bottomJs.html}"></th:block>

</body>
</html>
