<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head.html}"></th:block>

    <title th:text="${book.name}">Book</title>
</head>
<body>
<div class="container">

    <th:block th:insert="~{fragments/navigation.html :: tabs ('books')}"></th:block>
    <th:block th:insert="~{fragments/navigation.html :: breadcrumb (${breadcrumbs})}"></th:block>

    <th:block th:insert="~{books/bookForm.html :: form (@{/books/{id}(id=${book.id})}, ${book}, ${authors}, ${genres}, ${selectedGenreIds})}"></th:block>

    <h2 class="mt-3">Comments</h2>

    <th:block th:insert="~{comments/listFragment.html :: comments (${book.comments})}"></th:block>

</div>

<th:block th:insert="~{fragments/bottomJs.html}"></th:block>

</body>
</html>
