<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">

    <title>Persons:</title>
</head>
<body>

<h1>Persons:</h1>

<table class="persons">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.name}">John Doe</td>
        <td>
            <a th:href="@{/edit(id=${book.id})}" href="edit.html">Edit</a>
        </td>
    </tr>
    </tbody>
</table>


<script src="/js/bootstrap.min.js"></script>

</body>
</html>
