<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head.html}"></th:block>

    <title>Book:</title>
</head>
<body>
<div class="container">

    <th:block th:insert="~{fragments/navigation.html :: tabs ('index')}"></th:block>
    <th:block th:insert="~{fragments/navigation.html :: breadcrumb (${breadcrumbs})}"></th:block>

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/books">Books</a>
            <span class="badge bg-primary rounded-pill text-light" th:text="${books}"></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/genres">Genres</a>
            <span class="badge bg-primary rounded-pill text-light" th:text="${genres}"></span>
        </li>
    </ul>

</div>

<th:block th:insert="~{fragments/bottomJs.html}"></th:block>

</body>
</html>
