<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head.html}"></th:block>

    <title>Add Genre</title>
</head>
<body>
<div class="container">

    <th:block th:insert="~{fragments/navigation.html :: tabs ('genres')}"></th:block>
    <th:block th:insert="~{fragments/navigation.html :: breadcrumb (${breadcrumbs})}"></th:block>

    <th:block th:insert="~{genres/genreForm.html :: form ('/genres/add', '')}"></th:block>

</div>

<th:block th:insert="~{fragments/bottomJs.html}"></th:block>

</body>
</html>
