<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:fragment="form (uri, name)" id="edit-form" th:action="${uri}" th:method="post" action="edit.html">
    <h1>Genre Info</h1>
    <div class="mb-3">
        <label for="genreName" class="form-label">Genre Name</label>
        <input type="text" class="form-control" id="genreName" aria-describedby="genreNameHelp" th:value="${name}" value="Horror" name="name">
        <div id="genreNameHelp" class="form-text">Just enter genre name here.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>